body {
    font-size: 16px;
    line-height: 21px
}
h2 {
    text-align: center
}
.subtitle {
    text-align: center;
    font-size: 18px;
    color: blue;
    font-style: italic
}
code {
    color: blue;
}
.command {
    color: red;
    font-size: 18px;
    font-weight: bold
}
ul li {
    text-decoration: underline
}
.violet {
    color: rgb(50, 1, 113);
}